body {
    padding: 0;
    margin: 0;
    height: 100vh; /* 100% of viewport height */
}

main {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;  
}

canvas {
    grid-area: 1;
    z-index: -1;
}

p {
    color: white;
    font-size: 3rem;
}